*{
    margin:0%;
    padding: 0%;
    box-sizing:border-box;

}
html{
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height:90vh;
    width: 100vw;
    background-color: #fff;
    background-size: cover;
}
#page>#nav{
    margin-top: 2%;
    height: 10%;
    background-color:#bababa;
    display: flex;
    justify-content: space-between;
}
#page>#nav>.sidebar>#check,
#page>#nav>.sidebar>#nav-toggle{
    display: none;
}
#page>#nav>.sidebar{
    position: relative;
    width: 35%;
    padding-right: 2%;
    padding-top: 1.5%;
    background-color: #9B2241;
    padding-left: 1%;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
#page>#nav>.sidebar>#center-nav>ul{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
}
#page>#nav>.sidebar>#center-nav>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 25px ;
    font-weight: 800;
}
#page>#nav>.sidebar>#center-nav>ul>li>a:hover{
    text-decoration: underline;
}
#page>#front{
    display: flex;
}
#page>#front>.me>img{
    margin-top: 8%;
    position: relative;
    width: 65%;
    margin-left: 15%;
}
#page>#front>.me{
    display: flex;
}
#text{
    position: relative;
    width: 60%;
    margin-top: 8%;
    margin-left: 10%;
}
#text>h1{
    font-size: 70px;
    margin: 0px;
}
#text>h4{
    font-size: 18px;
    color: black;
    margin-top: 10px;
}
#text>h5{
    font-size: 20px;
    color: #9B2241;
    transform: rotate(-20deg);
    position: absolute;
    left: -4%;
    top: -6%;
}
#buttons{
    margin-top:30px;
    position: absolute;
    display: flex;
}
#buttons>form>#linkedIn{
    margin-left: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color:#0A66C2;
    font-size: 15px;
    color: white;
    border: none;
    transition: all 0.4s;
}
#buttons>form>#github{
    margin-left: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
    transition: all 0.4s;
}
#buttons>form>#leetcode{
    margin-left: 20px;
    padding: 11px 30px;
    border-radius: 10px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
    transition: all 0.4s;
}
.ri-linkedin-box-fill, .ri-github-fill, .ri-code-box-fill{
    font-size: 25px;
}

#buttons>form>#linkedIn:hover{
    background-color: #fff;
    color: black;
    border:1px solid black;
    cursor: pointer;
}

#buttons>form>#github:hover{
    background-color: #fff;
    color: black;
    border:1px solid black;
    cursor: pointer;
}
#buttons>form>#leetcode:hover{
    background-color: #fff;
    color: black;
    border:1px solid black;
    cursor: pointer;
}

#page1{
    height:100vh;
    width: 100vw;
    display: flex;
}
#page1>#left>.text{
    background-color:#9B2241;
    width: 60%;
    height: 100vh;
    position: relative;
}
#page1>#right{
    width: 40%;
    height: 100%;
    position: relative;
    margin: 2.5%;
}
#page1>#right>.box{
    height: 50%;
    width: 100%;
}
#page1>#left>.text{
    position: relative;
    height: 100%;
    width: 100%;
}
#page1>#left>.text>h1{
    padding-top:5% ;
    font-size: 70px;
    color: #fff;
    text-align: center;
}
#page1>#left>.text>p{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    color: #fff;
    text-align: justify;
}
#page1>#left>.text>form>button{
    position: absolute;
    left: 40%;
    padding: 2%;
    background-color:white;
    color:black;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    transition: all 0.4s;
    margin-top: 30px;
}
#page1>#left>.text>form>button:hover{
    box-shadow: 8px 8px 8px black;
    color: black;
    cursor: pointer;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
     background-image: url('./skills.jpg');
    background-size: cover; 
}
#page2>h1{
    position: relative;
    width: 100%;
    margin-top: 1.5%;
    text-align: center;
    font-size: 50px;
    color: #45908e;
}
#page2>.sections{
    display: flex;
}
#page2>.sections>.section{
    margin: 5%;
}
#page2>.section>.title{
    font-family: Arial, Helvetica, sans-serif;
    color: #11a372;
    padding: 0px 0px 20px 30px;
}
#page2>.sections>.section>.contents{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}
#page2>.sections>.section>.contents>.content{
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
#page2>.sections>.section>.title>h2{
    color: #45908e;
}
#page2>.sections>.section>.contents>.content:hover{
    box-shadow: 8px 8px 8px 0px #ccc;
    border: 1px solid transparent;
}
#page2>.sections>.section>.contents>.content:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #11a372;
    border: 2px solid #11a372;
}
#page3{
    position: relative;
    width: 100vw;
    height: 150vh;
    background-image: url('./project.jpg');
    background-size: cover;
    padding: 5%;
}
#page3>.cols>.row{
    height: 23%;
    margin-top: 20px;
}
#page3>.cols>.row>.projects>h1{
    font-size: 60px;
    color: white;
}
#page3>.cols>.row>.projects>h4{
    font-size: 20px;
    color:#eaeaea;
}
#page3>.cols>.row>.heading>h3{
    font-size: 25px;
    text-decoration: underline;
    color: #FEF4ED;
}
#page3>.cols>.row>.v>.heading>h3{
    font-size: 25px;
    text-decoration: underline;
    color: #fff;
}
#page3>.cols>.row>.heading{
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#page3>.cols>.row>.v>.heading{
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#page3>.cols>.row>.heading>form>button{
    font-size: 30px;
    border-radius: 0%;
    padding: 5%;
    border: none;
    color: white;
    background-color: #106786;
    transition: all 0.3s;
}
#page3>.cols>.row>.v>.heading>form>button{
    font-size: 30px;
    border-radius: 0%;
    padding: 2%;
    border: none;
    color: white;
    background-color: #106786;
    transition: all 0.3s;
}
#page3>.cols>.row>.heading>form>button:hover{
    border-radius: 50%;
}
#page3>.cols>.row>.v>.heading>form>button:hover{
    border-radius: 50%;
}

#page3>.cols>.v1{
    position: relative;
    display: flex;
    justify-content: space-between;
}
#page3>.cols>.v2{
    position: relative;
    left: 37%;
}
#page3>.cols>.v3{
    position: relative;
}
#page4{
    height: 100vh;
    width: 100vw;
    background-image: url('./contact2.jpg');
    background-size:cover;
    display: flex;
    align-content: center;
    justify-content: center;
}
#page4>.contact{
    background-color: #FEF4ED;
    height: 80%;
    width: 45%;
    position: relative;
    top: 10%;
    box-shadow: 0px 8px 15px 0px #919191;
    border: 1px solid transparent;
}
#page4>.contact>h1{
    margin: 5%;
    text-align: center;
    font-size: 50px;
    color: #a86545;
}
#page4>.contact>h4{
    margin: 5%;
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
}
#page4>.contact>form>button{
    width: 25%;
    position: relative;
    left: 18%;
    margin-top: 2%;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border-radius: 50px;
    background: linear-gradient(200deg,#a86545,#e6dac6) ;
    cursor: pointer;
    font-size: 20px;
    border: none;
}
#page4>.contact>form>button:hover{
    box-shadow: 0px 5px 10px 0px #a86545;

}
#page4>.contact>form>textarea{
    width: 60%;
    height: 100px;
    margin-top: 2%;
    padding-top:15px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 30px;
    text-align: center;
    color: #a86545;
}
#page4>.contact>form>.inputs{
    width: 60%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 30px;
    font-weight: 500;
    color: #a86545;
    border-radius: 50px;
    margin-top: 2%;
    text-align: center;
}
#page4>.contact>.connect{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#page4>.contact>form>.inputs:focus{
    border: 2px solid #a86545;
}
#page4>.contact>form>.inputs:hover{
    border: 2px solid #a86545;
}
#page4>.contact>form>textarea:focus{
    border: 2px solid #a86545;
}
#page4>.contact>form>textarea:hover{
    border: 2px solid #a86545;
}
#page4>.contact>form>.inputs::placeholder{
    color: #a86545;
}   
#page4>.contact>form>textarea::placeholder{
    color: #a86545;
}  

